@import "tailwindcss";
@plugin "daisyui" {
  themes: all; 
}

.container{
    max-width: 100%;
    width: 95%;
    margin: 0 auto;
}

.loginBG {
    background-image: url('./assets/bgimageforlogin.png');
    width: 100%;
    height: 100%;
    background-size: cover;
}

.container_login{
    max-width: 100%;
    width: 70%;
    margin: 0 auto;
}

.exam-card,
.question-box {
  max-width: 600px;
  margin: 40px auto;
  padding: 24px;
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.logoloop {
  position: relative;
  overflow: hidden;
}

.logoloop__track {
  display: flex;
  will-change: transform;
}

.logoloop__list {
  display: flex;
  align-items: center;
}

.logoloop__item {
  margin-right: var(--logoloop-gap);
  font-size: var(--logoloop-logoHeight);
}

.logoloop--scale-hover .logoloop__item:hover {
  transform: scale(1.2);
}

.logoloop--fade::before,
.logoloop--fade::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 80px;
  z-index: 10;
}

.logoloop--fade::before {
  left: 0;
  background: linear-gradient(to right, #fff, transparent);
}

.logoloop--fade::after {
  right: 0;
  background: linear-gradient(to left, #fff, transparent);
}


.start-btn,
.answer-btn {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.start-btn {
  background: #4f46e5;
  color: #fff;
}

.answer-btn {
  background: #e5e7eb;
}

.answer-btn:hover {
  background: #4f46e5;
  color: white;
}



@keyframes rotateSlow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg) scale3d(1.1, 1.1, 1);
  }
}

@keyframes spinFast {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes revolve {
  0% {
    border-color: #00ffff9c;
    border-right-color: transparent;
  }
  25% {
    border-color: #00ffff9c;
    border-bottom-color: transparent;
  }
  50% {
    border-color: #00ffff9c;
    border-left-color: transparent;
  }
  75% {
    border-color: #00ffff9c;
    border-top-color: transparent;
  }
  100% {
    border-color: #00ffff9c;
    border-right-color: transparent;
  }
}

@keyframes moveElectron {
  0% {
    top: 60%;
    left: 100%;
  }
  25% {
    top: 100%;
    left: 60%;
  }
  50% {
    top: 60%;
    left: 0%;
  }
  75% {
    top: 0%;
    left: 60%;
  }
  100% {
    top: 60%;
    left: 100%;
  }
}

/* Tailwind bilan ishlaydigan custom classlar */
.animate-rotateSlow {
  animation: rotateSlow 3s linear infinite;
}

.animate-spinFast {
  animation: spinFast 1s linear infinite;
}

.animate-revolve {
  animation: revolve 1s linear infinite;
}

.electron::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  background: cyan;
  border-radius: 9999px;
  animation: moveElectron 1s infinite;
}


@media only screen and (max-width:768px) {
    .container{
        max-width: 100%;
        width: 98%;
        margin: 0 auto;
    }
    .container_login{
          max-width: 100%;
        width: 90%;
        margin: 0 auto;
    }
}

