@import "tailwindcss";
<<<<<<< HEAD
@plugin "daisyui" {
  themes: all; 
}
=======
@plugin "daisyui";

>>>>>>> 668f6e499cbcb6a854d97ccc9ef853068bf6615d

.container{
    max-width: 100%;
    width: 95%;
    margin: 0 auto;
}

@media only screen and (max-width:768px) {
    .container{
        max-width: 100%;
        width: 98%;
        margin: 0 auto;
    }
}