@import "tailwindcss";
@plugin "daisyui" {
  themes: all; 
}

.container{
    max-width: 100%;
    width: 95%;
    margin: 0 auto;
}

@media only screen and (max-width:768px) {
    .container{
        max-width: 100%;
        width: 98%;
        margin: 0 auto;
    }
}